body, html{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.solar {
    left: 0;
    top: 0;
    position: absolute;
}

.Popup.minimized{
    height: 34px;
    overflow: hidden;
}
.Popup {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 8px;
    min-width: 234px;
}
.Popup-minimize {
    background: green;
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
}
.Popup .panel-body {
    min-height: 160px
}
.Popup .panel-heading {
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}